* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

table {
  text-align: center;
}
table.table-striped {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
table.table-striped thead th {
  width: 150px;
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #a06876;
  margin: 20px 10px;
}
table.table-striped thead th.table-each-head {
  width: 150px;
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #3a4909;
  margin: 20px 10px;
}
table.table-striped tbody th {
  width: 200px;
  padding: 5px;
}
table.table-striped td {
  padding: 5px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}

.name{
  width: 200px;
}

.industry{
  width: 100px;
}

.president{
  width: 50px;
}

.product{
  width: 150px;
}

.price{
  width: 30px;
  text-align:right;
}

.address{
  width: 400px;
  text-align:center;
}

.stripe:nth-child(even) {
  background-color: #c8f2fb;
}

.stripe:nth-child(odd) {
  background-color: #e7ffe3;
}

.imgList {
  position: relative;
  margin-top: 20px;
}
.imgList .food-img {
  position: absolute;
}

.logo-img {
  position: absolute;
  text-align: left;
  width: 50px;
  height: 55px;
}

.footer-img {
  width: 100%;
  height: 150px;
}

.navbar-brand {
  margin-left: 60px;
  font: size 1.5em;
  font-weight: bold;
}

.navbar {
  position: fixed;
  width: 100%;
}

.table-display {
  display:flex;
  justify-content: space-around;
}

.navbar-bg {
  background-color: rgb(113, 242, 197);
}

.food-img {
  width: 100%;
  height: 85px;
}

header {
  padding-top: 3rem !important;
  padding-bottom: 0.8rem !important;
}

.card-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin-left: 35px;
  margin-right: 35px;
}

.card {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  --bs-card-spacer-y: 0.2rem;
  --bs-card-spacer-x: 0.2rem;
}

.card-header {
  display: flex;
  justify-content: center;
  background-color: rgba(206, 247, 180, 0.03);
}